/************CUSTOM STYLES********************************/
.dataTables_wrapper .dataTables_paginate .paginate_button {
    padding: 0 !important;
}

.dataTables_paginate> .pagination>li>a, .pagination>li>span {
    padding: 3px 6px !important;
}
/************CUSTOM STYLES********************************/

.clientWrapper {
    position: relative;
    float: right;
    margin-left: 20px;
}

.clientWrapper label {
    font-weight: normal;
    white-space: nowrap;
    text-align: left;
}

.clientWrapper btn-group.bootstrap-select {
    margin-left: 0.5em;
}

.fa-active-client:before {
    content: "\f04b";
}
.fa-paused-client:before {
    content: "\f04c";
}
.fa-archived-client:before {
    content: "\f187";
}