<?php

return [
    'DB_HOST'                   => 'localhost',
    'DB_USER'                   => 'root',
    'DB_PASS'                   => '',
    'DB_NAME'                   => 'sapper_suite',
    'APP_ROOT_URL'              => 'https://www.sapperlocal.com',
    'PATH_TO_PHP'               => '',
    'GOOGLE_JSON'               => 'google.sapperlocal.com.json',
    'GOOGLE_APP'                => 'Sapper Suite Local',
    'PROSPERWORKS_EMAIL'        => 'blake.vernon@sapperconsulting.com',
    'PROSPERWORKS_ACCESS_TOKEN' => '3fa88b61ad47d16f8bb30e1d4485bb0b',
    'ASSETS_VERSION'            => trim(file_get_contents(__DIR__. '/assets_version')),
    'DEBUG'                     => false,
];
