<?php

return [
    'DB_HOST'                   => '%%DBHOST%%',
    'DB_USER'                   => '%%DBUSER%%',
    'DB_PASS'                   => '%%DBPASS%%',
    'DB_NAME'                   => '%%DBNAME%%',
    'APP_ROOT_URL'              => '%%APPURL%%',
    'PATH_TO_PHP'               => '',
    'GOOGLE_JSON'               => 'google.sapperlocal.com.json',
    'GOOGLE_APP'                => 'Sapper Suite Local',
    'PROSPERWORKS_EMAIL'        => 'blake.vernon@sapperconsulting.com',
    'PROSPERWORKS_ACCESS_TOKEN' => '3fa88b61ad47d16f8bb30e1d4485bb0b',
    'ASSETS_VERSION'            => trim(file_get_contents(__DIR__. '/assets_version')),
    'DEBUG'                     => false,
    'ENV_NAME'                  => 'PrBuild%%PRNUM%%'
];